{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title%}My Meetups{% endblock%}</title>
        <link rel = "stylesheet" href="{% static 'meetups/styles/base.css' %}">
        {%block site_css%}{%endblock%}
    </head>
    <body>
        <header id="main-header">
            <nav><a href="/" id="main-logo">DjangoMeetups</a></nav>
            <h1>{%block heading%}{%endblock%}</h1>
            {%block header%}{%endblock%}
        </header>
        <main>
            {%block content%}
            {%endblock%}
        </main>
    </body>
</html>